html, body {
  width: : 100%;
  /* background: #c8c0bd; */
  background: #C9C1BE;
  background: -webkit-linear-gradient(top, #C9C1BE, #FFFFFF);
  background: -moz-linear-gradient(top, #C9C1BE, #FFFFFF);
  background: linear-gradient(to bottom, #C9C1BE, #FFFFFF);
}

hr{
  width: 70%;
  border-width: 2px;
  float: left;
  margin: 0;
  border-color: black;
  border-radius: ; 
}

header {
  height: 14%;
}

footer{
  height: 15%;

}

.navbar {
  display: inline-block;
  padding-left: 55%;
}

.photoAbout {
  padding-left:10%;
}

.myPhoto {
  /* float: bottom; */
  max-width: 100%;
  min-width: 440px;
}

.about {
  font-family: 'Arsenal', sans-serif;
  /* font-size: 2em; */
  display: inline;
  position: absolute;
  padding-top: 5%;


}

.portfolioCarousel {
  width: 100%;
  padding-top: 5%;
  text-align: center;
  background: #F9F5F3;

}

.carousel-inner {}

.carousel-item {

}


.icons{
  height: 3.3rem;
}
